@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #353535;
  background-color: #fff;
  font-weight: 100;
  overflow: hidden;
}
